<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>effect_room4_tex007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{324,303}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{324,303}}</string>
        <key>sourceSize</key>
        <string>{324,303}</string>
      </dict>
      <key>effect_room4_tex010.png</key>
      <dict>
        <key>frame</key>
        <string>{{326,0},{289,281}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{289,281}}</string>
        <key>sourceSize</key>
        <string>{289,281}</string>
      </dict>
      <key>effect_room4_tex009.png</key>
      <dict>
        <key>frame</key>
        <string>{{617,0},{82,224}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,224}}</string>
        <key>sourceSize</key>
        <string>{82,224}</string>
      </dict>
      <key>effect_room4_tex011.png</key>
      <dict>
        <key>frame</key>
        <string>{{701,0},{209,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{209,75}}</string>
        <key>sourceSize</key>
        <string>{209,75}</string>
      </dict>
      <key>effect_room4_tex008.png</key>
      <dict>
        <key>frame</key>
        <string>{{912,0},{76,190}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{76,190}}</string>
        <key>sourceSize</key>
        <string>{76,190}</string>
      </dict>
      <key>effect_room4_tex000.png</key>
      <dict>
        <key>frame</key>
        <string>{{701,77},{95,104}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{95,104}}</string>
        <key>sourceSize</key>
        <string>{95,104}</string>
      </dict>
      <key>effect_room4_tex002.png</key>
      <dict>
        <key>frame</key>
        <string>{{798,77},{89,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{89,96}}</string>
        <key>sourceSize</key>
        <string>{89,96}</string>
      </dict>
      <key>effect_room4_tex005.png</key>
      <dict>
        <key>frame</key>
        <string>{{798,175},{74,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{74,74}}</string>
        <key>sourceSize</key>
        <string>{74,74}</string>
      </dict>
      <key>effect_room4_tex003.png</key>
      <dict>
        <key>frame</key>
        <string>{{701,183},{44,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,55}}</string>
        <key>sourceSize</key>
        <string>{44,55}</string>
      </dict>
      <key>effect_room4_tex004.png</key>
      <dict>
        <key>frame</key>
        <string>{{747,183},{47,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,48}}</string>
        <key>sourceSize</key>
        <string>{47,48}</string>
      </dict>
      <key>effect_room4_tex001.png</key>
      <dict>
        <key>frame</key>
        <string>{{990,0},{29,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,45}}</string>
        <key>sourceSize</key>
        <string>{29,45}</string>
      </dict>
      <key>effect_room4_tex006.png</key>
      <dict>
        <key>frame</key>
        <string>{{990,47},{23,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,28}}</string>
        <key>sourceSize</key>
        <string>{23,28}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>effect_room4_tex.png</string>
      <key>size</key>
      <string>{1019,303}</string>
      <key>textureFileName</key>
      <string>effect_room4_tex.png</string>
    </dict>
  </dict>
</plist>